<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="NEKI OPIS SAJTA" />
	
	<title>Club Square Belgrade - STUDENTSKI TRG 15</title>
	<link rel="icon" href="assets/img/content/icon.png">
	<!-- ========== CSS INCLUDES ========== -->
	<link rel="stylesheet" href="assets/css/master.css">
</head>
<body>
	<div class="page-loader">
		 <div class="vertical-align align-center">
			  <img src="assets/loader/loader.gif" alt="" class="loader-img">
		 </div>
	</div>

	<!-- =============== START BREADCRUMB ================ -->
	<section class="no-mb">
		<div class="row">
			<div class="col-sm-12">
				<div class="breadcrumb-fullscreen-parent phone-menu-bg">
					<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url('assets/img/header/header.png');" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
						<div id="home" style="position: absolute;left: 0;top: 0;">
							<div class="intro-header">
								<div class="js-height-full star" style="height: 955px;">
									<div class="star-pattern-1 js-height-full" style="height: 994px;"></div>
									<div class="col-sm-12"> 
										<div class="starTitle">
											<h4>Club</h4>
											<div class="grid__item">
						                		<h1>
								                	<a class="link link-yaku" href="#">
														<span>S</span><span>Q</span><span>A</span><span>R</span><span>E</span>					
													</a>
										        </h1>
						                	</div>
											<h4>Belgrade,STUDENTSKI TRG 15</h4>
										</div>
										<canvas class="cover" width="1920" height="955"></canvas>
									</div>
								</div>
							</div>
	   					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END BREADCRUMB ================ -->



	
	<!-- =============== START TOP HEADER ================ -->
	<div class="topHeader" >
		<div class="header">
			<div class="rightTopHeader">
				<div class="cartContainer">


				</div><!--end cartContainer  -->
				<!-- Open Menu Button -->
				<a class="open-menu">
					<!-- Buttons Bars -->
					<span class="span-1"></span>
					<span class="span-2"></span>
					<span class="span-3"></span>
				</a>
			</div><!-- end rightTopHeader -->
		</div><!-- end header -->
		<!-- Menu Fixed Container -->
		<div class="menu-fixed-container">
			<!-- Menu Fixed Centred Container -->
			<nav>
				<!-- Menu Fixed Close Button -->
				<div class="x-filter">
					<span></span>
					<span></span>
				</div>
				<!-- Menu Fixed Primary List -->
				<ul>
					<!-- Menu Fixed Item -->
					<li>
						<a href="index.html">
							home
						</a>
						<ul class="sub-menu">
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="index.html">
									home star
								</a>
							</li>
							<li>
								<a href="index-royal-slider.html">
									home royal slider
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="index-video.html">
									home video 
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="albumsGrid.html">
							discography
						</a>
						<ul class="sub-menu">
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="albumsFullBackground.html">
									albums full background
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="albumsGrid.html">
									albums grid
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="albumsSingle1.html">
									album description
								</a>
							</li>
						</ul>
					</li>
					<!-- Menu Fixed Item -->
					<li>
						<a href="events.html">
							events
						</a>
					</li>
					<!-- Menu Fixed Item -->
					<li>
						<a href="#">
							blog
						</a>
						<ul class="sub-menu">
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="blogGrid.html">
									blog grid
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="blogSidebarRight.html">
									blog sidebar
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="blogSingle.html">
									blog single
								</a>
							</li>
						</ul>
					</li>
					<!-- Menu Fixed Item -->
					<li>
						<a href="#">
							gallery
						</a>
						<ul class="sub-menu">
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="galleryGrid.html">
									albums grid
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="galleryScroll.html">
									albums scroll
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="gallerySingle.html">
									gallery single
								</a>
							</li>
						</ul>
					</li>
					<!-- Menu Fixed Item -->
					<li>
						<a href="#">
							Other Pages
						</a>
						<ul class="sub-menu">
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="biography.html">
									Biography
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="video.html">
									Video
								</a>
							</li>
						</ul>
					</li>
					<!-- Menu Fixed Item -->
					<li>
						<a href="contact.html">
							contact
						</a>
					</li>
					<!-- Menu Fixed Item -->
					<li>
						<a href="shop.html">
							shop
						</a>
					</li>
				</ul>
				<!-- Menu Fixed Close Button -->
				<div class="x-filter">
					<span></span>
					<span></span>
				</div>
			</nav>
		</div><!-- end menu-fixed-container -->
		<!-- =============== STAR LOGO ================ -->
		<div class="logo-container-top">
			<a href="index.html"><img src="assets/img/logo/whiteLogo.png" alt="Square Logo"></a>
		</div><!-- end logo-container-top -->
		<!-- =============== END LOGO ================ -->
	</div><!-- end topHeader -->
	<!-- =============== END TOP HEADER ================ -->
	<!-- =============== START BIOGRAPHY SECTION ================ -->
	<section style="background-image:url(assets/img/subHeader/header.png);" class="biography padding background-properties" id="content">
		<div class="container">
			<div class="sectionTitle paddingBottom">
				<span class="heading-t3"></span>
				<h2><a href="albums.html">About Us</a></h2>
				<span class="heading-b3"></span>
			</div><!-- end sectionTtile -->
			<div class="row">
				<div class="col-sm-6">
					<p>Emi Haze graduated from the Institute
					of Design in Verona with
					a degree in Graphic Design
					and Advertising Design.I live in the north-east of Italy and my huge passion is digital art.
					Art and painting connected to technology have always been my strongest passions. People think I am calm, quiet, sometimes introvert, really creative, inspired and perfectionist.
					In my opinion everything in every moment has an artistic side, the aesthetics of things, people around me...
					for me everything has its own importance, images, textures, sounds, fragrances, my creativity is costantly stimulated.</p>
			
				
				</div>
				<div class="col-sm-6">
					<p>I currently work as freelance and in the last years I focused on personal projects and creations in order to build,
					my own wide portfolio that could distinguish me both in style, technique and creativity.
					In my first works i focused on a graphic style based on construction and deconstruction of the human body
					using various tools and graphic effects that render it almost a sketch.
			</p>
				
					<div class="signature">
						<a href="#">Club Square Belgrade</a>
					</div>
				</div>
			</div>
		</div><!-- end container -->
	</section>
	
<!-- =============== START EVENTS SECTION ================ -->
	<section class="shopHomePage shopHomePadding hide-section">
		<div class="shopSection">
			<div class="container-fluid">
			<div class="shopContent">
				<div class="sectionTitle paddingBottom">
					<span class="heading-t3"></span>
					<h2><a href="shop.html">EVENTS</a></h2>
					<span class="heading-b3"></span>
				</div><!-- end sectionTtile -->	
				<div class="row">
					<nav class="shop-products">
						<ul class="clearfix">
							<li class="col-sm-3">
								<figure>
									<figcaption>
										<img src="assets/img/shop/shopProduct.png" alt="">
									</figcaption>
									<div class="content">
										<div class="shopHover">
											<div class="price">
												&pound; 15,99
											</div>
											<div  class="proTitle">
												<a href="shopSingle.html">Original T. Brothers</a>
											</div>
											<div class="product">Hoodie Aqura</div>
											<a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-shopping-cart"></i><span></span></a>
											 <a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-info"></i><span></span></a>
										</div>
									</div>
								</figure>
							</li>
							<li class="col-sm-3">
								<figure>
									<figcaption>
										<img src="assets/img/shop/shopProduct.png" alt="">
									</figcaption>
									<div class="content">
										<div class="shopHover">
											<div class="price">
												&pound; 15,99
											</div>
											<div  class="proTitle">
												<a href="shopSingle.html">Original T. Brothers</a>
											</div>
											<div class="product">Hoodie Aqura</div>
											<a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-shopping-cart"></i><span></span></a>
											 <a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-info"></i><span></span></a>
										</div>
									</div>
								</figure>
							</li>
							<li class="col-sm-3">
								<figure>
									<figcaption>
										<img src="assets/img/shop/shopProduct.png" alt="">
									</figcaption>
									<div class="content">
										<div class="shopHover">
											<div class="price">
												&pound; 15,99
											</div>
											<div  class="proTitle">
												<a href="shopSingle.html">Original T. Brothers</a>
											</div>
											<div class="product">Hoodie Aqura</div>
											<a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-shopping-cart"></i><span></span></a>
											 <a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-info"></i><span></span></a>
										</div>
									</div>
								</figure>
							</li>
							<li class="col-sm-3">
								<figure>
									<figcaption>
										<img src="assets/img/shop/shopProduct.png" alt="">
									</figcaption>
									<div class="content">
										<div class="shopHover">
											<div class="price">
												&pound; 15,99
											</div>
											<div  class="proTitle">
												<a href="shopSingle.html">Original T. Brothers</a>
											</div>
											<div class="product">Hoodie Aqura</div>
											<a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-shopping-cart"></i><span></span></a>
											 <a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-info"></i><span></span></a>
										</div>
									</div>
								</figure>
							</li>
						</ul>
					</nav><!-- end shop-products -->
				</div><!-- end row -->
			</div><!-- end shopContent -->
		</div>
		</div>
	</section>
	<!-- =============== END HOME-SHOP SECTION ================ -->
	

	<!-- =============== START EVENTS SECTION-2 ================ -->
	<section class="padding hide-section countdownSection background-properties" style="background-image: url(assets/img/events/countdownHome.png);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="countdownTitle">
						<h4>Next Event</h4>
						<a href="singleEvent.html"><img src="assets/img/events/box.png" alt="Event"></a>
					</div>
					<div class="sm-countdown sm_content_element sm-style2" id="sm_countdown-19" data-date="2016/10/23">
						<div class="displayCounter">
							<div class="column">
								<div class="sm_countdown_inner">
									<input class="element days" readonly="readonly" data-min="0" data-max="365" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit days-title">days</span>
								</div>
							</div>	
							<div class="column">
								<div class="sm_countdown_inner">
									<input class="element hour" readonly="readonly" data-min="0" data-max="24" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit hours-title">hrs</span>
								</div>
							</div>	
							<div class="column"> 
								<div class="sm_countdown_inner">
									<input class="element minute" readonly="readonly" data-min="0" data-max="60" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit mins-title">min</span>
								</div>
							</div>
							<div class="column"> 
								<div class="sm_countdown_inner">
									<input class="element second" readonly="readonly" data-min="0" data-max="60" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit secs-title">sec</span>
								</div>
							</div>
						</div>
					</div><!-- end sm-countdown -->
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END EVENTS SECTION-2 ================ -->

	



	<!-- =============== START VIDEO SECTION ================ -->
	<section class="videoHome hide-section padding">
		<div class="container">
			<div class="row">
				<div class="sectionTitle">
					<span class="heading-t3"></span>
					<h2><a href="video.html">Upload Video</a></h2>
					<span class="heading-b3"></span>
					<p>Check out my latest videos and follow me on <a href="#">Youtube</a> & <a href="#">Vimeo</a> to view more.</p>
				</div><!-- end sectionTtile -->
				<div class="col-sm-4">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/VV-Q-aRHTDE"  allowfullscreen></iframe>
				</div><!-- end col-sm-4 -->
				<div class="col-sm-4">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/VxG5C4q_rEs"  allowfullscreen></iframe>
				</div><!-- end col-sm-4 -->
				<div class="col-sm-4">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/OkbuRa1o1wA"  allowfullscreen></iframe>
				</div><!-- end col-sm-4 -->
			</div>
		</div>
	</section>
	<!-- =============== END VIDEO SECTION ================ -->

	<!-- =============== START GALLERY SECTION ================ -->
	<section style="padding-bottom:0; padding-top:0;" class="hide-section">
		<div class="gallerySection">
			<div class="container-fluid" style="padding:0;">
				<div class="col-sm-12">
					<!-- Content Container -->
					<div class="content-container clearfix">
						<!-- Single Album Container -->
						<div class="single-photo-album-container">
							<div class="row">
								<!-- Single Album Article -->
								<article class="col-sm-12 col-md-6 col-xs-12">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<!-- Single Album Image -->
											<div class="hovereffect">
												<img class="img-responsive" src="assets/img/gallery/wideGal.png" alt="">
												<div class="overlay">
												   <a class="info lightbox" href="assets/img/gallery/wideGal.png"></a>
												</div>
											</div>
										</figcaption>
										<!-- Single Album View Button -->
										
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
											<img class="img-responsive" src="assets/img/gallery/squareGal.png" alt="">
											<div class="overlay">
											   <a class="info lightbox" href="assets/img/gallery/wideGal.png"></a>
											</div>
										</div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
											<img class="img-responsive" src="assets/img/gallery/squareGal.png" alt="">
											<div class="overlay">
											   <a class="info lightbox" href="assets/img/gallery/wideGal.png"></a>
											</div>
										</div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
											<img class="img-responsive" src="assets/img/gallery/squareGal.png" alt="">
											<div class="overlay">
											   <a class="info lightbox" href="assets/img/gallery/wideGal.png"></a>
											</div>
										</div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
											<img class="img-responsive" src="assets/img/gallery/squareGal.png" alt="">
											<div class="overlay">
											   <a class="info lightbox" href="assets/img/gallery/wideGal.png"></a>
											</div>
										</div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-12 col-md-6 col-xs-12">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
											<img class="img-responsive" src="assets/img/gallery/wideGal.png" alt="">
											<div class="overlay">
											   <a class="info lightbox" href="assets/img/gallery/wideGal.png"></a>
											</div>
										</div>
										</figcaption>
									</figure>
								</article>								
							</div>
						</div>
					</div>
				</div>
			</div><!-- end container -->
		</div>
	</section>
	<!-- =============== END GALLERY SECTION ================ -->

	
<!-- =============== START ALBUM COVER SECTION ================ -->
	<section class="padding albumsHome hide-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="sectionTitle paddingBottom">
						<span class="heading-t3"></span>
						<h2><a href="albumsFullBackground.html">OUR DJ`s</a></h2>
						<span class="heading-b3"></span>
					</div><!-- end sectionTtile -->
				</div><!-- end col-sm-12 -->
			</div>
			<div class="list-albums">
				<ul class="list-feature col-md-12 col-xs-12 col-sm-12">
					<li class="col-md-3 col-sm-3 col-xs-12">
						<div class="album-icon">
							<span class="thumbs-album">
								<a href="albumsSingle1.html"><img width="270" height="270" src="assets/img/albums/albumCover.png" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
							</span>
							<span class="disk"></span>
						</div><!-- END ALBUM ICON -->
						<div class="name">
							<h3>Noon Xoxo</h3>						
							<p>Chillout</p>								
						</div><!-- end name -->
					</li>
									
					<li class="col-md-3 col-sm-3 col-xs-12">
						<div class="album-icon albumIcon1">
							<span class="thumbs-album">
								<a href="albumsSingle3.html"><img width="270" height="270" src="assets/img/albums/albumCover.png" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
							</span>
							<span class="disk"></span>
						</div>
						<div class="name">
							<h3>Stunt Vibe</h3>									<p>Chillout</p>								
						</div>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-12">
							<div class="album-icon albumIcon2">
								<span class="thumbs-album">
									<a href="albumsSingle4.html"><img width="270" height="270" src="assets/img/albums/albumCover.png" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
									</span>
								<span class="disk"></span>
							</div>
							<div class="name">
								<h3>Strange Clouds</h3>								<p>Chillout</p>								
							</div>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-12">
							<div class="album-icon albumIcon3">
								<span class="thumbs-album">
									<a href="albumsSingle2.html"><img width="270" height="270" src="assets/img/albums/albumCover.png" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
									</span>
								<span class="disk"></span>
							</div>
							<div class="name">
								<h3>Natural Earth</h3>								<p>Chillout</p>								
							</div>
						</li>	
				</ul>
			</div><!-- end list-albums -->
		</div><!-- end container -->
	</section>
	<!-- =============== END ALBUM COVER SECTION ================ -->
	<!-- =============== START HOME-BLOG SECTION ================ -->	
	<section class="padding hide-section background-properties blogHomeSection" style="background-image: url(assets/img/blog/homeBlog.png);">	
		<div class="container">
			<div class="row">
				<div class="sectionTitle paddingBottom">
					<span class="heading-t3"></span>
					<h2><a href="blogGrid.html">News</a></h2>
					<span class="heading-b3"></span>
				</div><!-- end sectionTtile -->
				<div class="col-sm-4">
					<div class="blogBox">	
						<div class="imgBox"><img src="assets/img/blog/homeGalPost.png" alt="box-img"></div>
						<div class="blogBoxContent">
							<div class="blogHeader">
								<h1><a href="blogSingle.html">Gallery Post</a></h1>
							</div>
							<div class="admin-list clearfix">
								<ul>
									<li><a href="#">08 dec 2016</a>&nbsp;/&nbsp;</li>
									<li><a href="#">By Admin</a></li>
								</ul>
							</div><!-- end admin-list -->
							<div class="blogParagraph">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
							</div><!--end blogParagraph  -->
							<div class="rmButton">
								<a href="#">Read More</a>
							</div>			
						</div><!-- end blogBoxContent -->
					</div><!-- end blogBox -->
				</div><!-- end col-sm-4 -->	
				<div class="col-sm-4">
					<div class="blogBox">	
						<div class="videoBox"><iframe src="https://player.vimeo.com/video/145837856" width="600" height="410"  ></iframe></div>
						<div class="blogBoxContent">
							<div class="blogHeader">
								<h1><a href="blogSingle.html">Video Post</a></h1>
							</div>
							<div class="admin-list clearfix">
								<ul>
									<li><a href="#">28 apr 2016</a>&nbsp;/&nbsp;</li>
									<li><a href="#">By Admin</a></li>
								</ul>
							</div><!-- end admin-list -->
							<div class="blogParagraph">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
							</div><!--end blogParagraph  -->
							<div class="rmButton">
								<a href="#">Read More</a>
							</div>			
						</div><!-- end blogBoxContent -->
					</div><!-- end blogBox -->
				</div><!-- end col-sm-4 -->	
				<div class="col-sm-4">
					<div class="blogBox">	
						<div class="soundcloudBox"><iframe height="203" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/73595878&amp;color=bb9b69&amp;show_artwork=false&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe></div>
						<div class="blogBoxContent">
							<div class="blogHeader">
								<h1><a href="blogSingle.html">Soundcloud Post</a></h1>
							</div>
							<div class="admin-list clearfix">
								<ul>
									<li><a href="#">08 dec 2016</a>&nbsp;/&nbsp;</li>
									<li><a href="#">By Admin</a></li>
								</ul>
							</div><!-- end admin-list -->
							<div class="blogParagraph">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
							</div><!--end blogParagraph  -->
							<div class="rmButton">
								<a href="#">Read More</a>
							</div>			
						</div><!-- end blogBoxContent -->
					</div><!-- end blogBox -->
				</div><!-- end col-sm-4 -->	
			</div><!-- end container -->	
		</div><!-- end row -->	
	</section>
	<!-- =============== END HOME-NLOG SECTION ================ -->	
	
	<!-- =============== START CONTACT ================ -->
	<section class="contactSingle padding background-properties" id="content" style="background-image:url(assets/img/subHeader/header.png);">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="contactTop">
						<h2>Contact Information</h2>
						<h4>198 West 21th Street, Suite 721, New York, NY 10010.</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer odio. <br>
						Quisque volutpat mattis eros. Nullam turpis.
						</p>
						<div class="contactInfo">
							<ul>
								<li>Email: <a href="#">info@themebrothers.com</a></li>
								<li>Phone: <a href="#">+4070 547 235 125</a></li>
								<li>Fax: <a href="#">+4070 125 949 678</a></li>
							</ul>
						</div>
					</div>
				</div><!-- end col-sm-4 -->
				<div class="col-sm-7 col-sm-offset-1">
					<div class="singleBlogForm">
						<h2>Get in Touch</h2>
						<form action="#" method="post" class="comment-form">
							<input id="author" name="author" type="text" value="" aria-required="true" required="" placeholder="First Name *">
							<input id="lastName" name="email" type="text" value="" aria-required="true" required="" placeholder="Last Name">
							<input id="url" name="url" type="text" value="" placeholder="Subject* ">
							<input id="address" name="url" type="text" value="" placeholder="Email Address* ">
							<textarea name="comment" placeholder="Message..." rows="6" required=""></textarea>
							<p class="form-submit">
								<input name="submit" type="submit" id="submit" value="Send Email">
							</p>
						</form>
					</div><!-- end contactForm -->
				</div><!-- end col-sm-7 col-sm-offset-1 -->
			</div>
		</div><!-- end container -->
	</section>
	<!-- =============== END CONTACT ================ -->
		<!-- =============== START MAP ================ -->
	<section class="googleMap">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div id="map-canvas" class="google-map" data-lat="44.820092" data-long="20.456819" data-img="assets/img/contact/marker.png"></div>
				</div>
			</div>
		</div>

	</section>
	<!-- =============== END MAP ================ -->
	
	<!-- =============== START FOOTER ================ -->
	<section style="background-color:#eeeeee;" class="hide-section">
		<div class="footer footerPadding">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="copyFooter">
							<a href="#">&copy; Aqura 2016</a>
						</div>
					</div>
					<div class="col-sm-4">
						<nav class="social-icons">
							<ul class="clearfix">
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-twitter"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-facebook"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-apple"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-lastfm"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-soundcloud"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-youtube-play"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-vimeo"></i><span></span></a></li>  
							</ul>
						</nav>
					</div>
					<div class="col-sm-4">
						<div class="goTop back-to-top" id="back-to-top">
							<i class="fa fa-angle-up"></i>
							<a href="#">Go Top</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END FOOTER ================ -->

	<!-- ================================================== -->
	<!-- =============== START JQUERY SCRIPTS ================ -->
	<!-- ================================================== -->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/jplayer/jplayer/jquery.jplayer.js"></script>
	<script src="assets/js/jPlayer.js"></script>
	<script src="assets/js/plugins.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/map.js"></script>
	<script src="assets/js/mainVideo.js"></script>
	<!--[if lte IE 9 ]>
		<script src="assets/js/placeholder.js"></script>
		<script>
			jQuery(function() {
				jQuery('input, textarea').placeholder();
			});
		</script>
	<![endif]-->
	<!-- ================================================== -->
	<!-- =============== END JQUERY SCRIPTS ================ -->
	<!-- ================================================== -->
</body>
</html>